html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: "Lato",sans-serif;
}

#map {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 50px;
    width:90%;
    height: 90%;
    background-color: grey;
}

#gmap {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#host {
    width: 100%;
    background: grey;

}
#yoco {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    float:right; /* add this */
}
#area {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    float: left; /* if you don't want #second to wrap below #first */
}
